.box {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .box-form {
    width:100%
  }
  
  body {
    background-image: url('https://images2.alphacoders.com/261/thumb-1920-26102.jpg');
  }